*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.small {
  display: none !important;
}

a{
  text-decoration: none;
  color: #000;
}

.home{
  margin-top:100px;
}
.links{
  text-decoration: none;
  color: #fff;
}
.list{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
}
.nav-link{
  color:#fff !important;
  display:flex !important;
}
.landing{
  margin-top: 100px;
  display: flex;
  justify-content:center ;
  gap: 20px;
  flex-wrap: wrap;
}

.land{
  width:520px;
}
.land-descr{
  width: 400px;
}
.land-Text{
  margin-top: 100px;
}
.land-img{
  width: 500px;
  margin-top: 50px;
}
.butt{
  width: 70%;
}
.serv{
  text-align: center;
  margin-top: 50px;
}
.services{
  text-align: center;
  margin-top: 50px;
  display:flex ;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
a:hover{
  color:#fff;
}
.abd{
  margin-top: 50px;
  text-align: center;
}
.about{
  margin-top: 50px;
  display: flex;
  gap: 32px;
  justify-content:center ;
  background-color: whitesmoke;
  flex-wrap: wrap;
}
.about-text{
  width: 500px;
}
.abt-img{
  width: 500px;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact{
  text-align: center;
}
.nope{
  display: none;
}
.sec-Text{
  color: blue;
  text-align: center;
}
.sec-img{
  width: 50px;
}
.sec-body{
  width: 400px;
}
.why{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 50px;
}
.sec-head{
  color: #555;
}
@media only screen and (max-width: 768px) {
  .small {
    display: none !important;
  }
  .head-para {
    width: 385px;
  }

  .land,.land-descr {
    width: 350px;
    margin-left: 3
    0px;
  }
  .sec-body{
    width: 350px;
  }
  .sec-Text{
    color: #555;
  }

  .list, .navigate, .out,.texts{
    display:none;
  }
  .comp{
    width:300px;
    margin-bottom: 50px;
  }
  .land-Text{
    margin-top: -10px;
  }
  .butt{
    width: 100%;
  }
  .land-img{
    width: 350px;
    margin-top: 15px;
    border-radius: 10px;
  }
  .sub{
    width: 100%;
  }
.orm{
  display: none;
}



  .abt-img{
    width: 350px;
    margin-top: 15px;
    border-radius: 10px;
  }
  .about-text{
    width:300px;
  }
  .nope{
    display: block;
  }
}
