*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.small {
  display: none !important;
}

a{
  text-decoration: none;
  color: #000;
}

.home{
  margin-top:100px;
}
.links{
  text-decoration: none;
  color: #fff;
}
.list{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
}
.nav-link{
  color:#fff !important;
  display:flex !important;
}
.landing{
  margin-top: 100px;
  display: flex;
  justify-content:center ;
  gap: 20px;
  flex-wrap: wrap;
}

.land{
  width:520px;
}
.land-descr{
  width: 400px;
}
.land-Text{
  margin-top: 100px;
}
.land-img{
  width: 500px;
  margin-top: 50px;
}
@media only screen and (max-width: 768px) {
  .small {
    display: block !important;
  }
  .head-para {
    width: 385px;
  }
  .head {
    margin-top: -40px;
  }
  .land,.land-descr {
    width: 350px;
    margin-left: 3
    0px;
  }

  .list, .navigate, .out,.texts{
    display:none;
  }
  .comp{
    width:300px;
    margin-bottom: 50px;
  }
  .land-Text{
    margin-top: 20px;
  }
  .land-img{
    width: 350px;
    margin-top: 15px;
    border-radius: 10px;
  }
}